body {
    background-color: #36648b;
}

@media screen and (min-width: 675px) {
    body {
        background-color: #5f9aa4;
    }
}

@media screen and (min-width: 999px) {
    body {
        background-color: #a45f9a;
    }
}

@media screen and (min-width: 1280px) {
    body {
        background-color: #5fa469;
    }
}
