body {
    background-color: #8a0707;
}

@media screen and (max-width: 1080px) {
    body {
        background-color: #ad5151;
    }
}

@media screen and (max-width: 550px) {
    body {
        background-color: #deb9b9;
    }
}

@media screen and (max-width: 400px) {
    body {
        background-color: #584a4a;
    }
}
